<h2>Analytics</h2>
<div class="container">
    <div class="p-5">
        <div class="card">
                <%@analytics.each do |analytic|%>
					<div class="card-body">
                       <p><%= analytic.original_url %></p>
                        <p><%= analytic.shorten_url %></p>
                        <p> Total clicks : <%= analytic.no_click %></p>
                        <p> Top countries : <%= analytic.countries %></p>
                        <p> Top state : <%= analytic.states %></p>
                        <p> Top city : <%= analytic.cities %></p>
                    </div>
		<%end%>
        </div>
    </div>
</div>
